body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 70px 0;
    background-color: rgb(171, 181, 181);
}

#heading {
    background: transparent;
    background-color: rgb(255, 227, 194, 0.20) ;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}
.lasagna {
    height: 300px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: static;
}

.header {
    padding: 15px;
    font-size: 2rem;
}

.menu {
    padding: 30px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.menu a {
    padding-right: 10px;
    text-decoration: none;
    color: #000000;
    margin: 80px;
    transition: all 0.2s ease;
}

.menu a:hover{
    color: rgb(255, 183, 0);
    text-decoration: underline;
    transform: scale(.05);
}
